.App {
  text-align: center;
}


.container {
  margin: auto;
  width: 50%;
  margin-top: 2%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr) )
}

.item {
  padding: 7%;
  border: 2px solid #c8cad4;
  width: 70%;
  margin: auto;
  margin-bottom: 2%;
  border-radius: 5%;
 
}

.MuiAppBar-colorPrimary{
  background-color: #050f3b !important;
  box-shadow: none !important;
  text-align: center !important;
}
